<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10012c;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="customActive" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
          <li class="nav-item"><a href="#" class="nav-link">News</a></li>
   
        </ul>
        <div *ngIf="userIsAuthorized()" class="dropdown" style="margin-right: 80px;">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
        <a role="button"  *ngIf="!userIsAuthorized()"  routerLink="/login" class="btn btn-outline-light me-2">Login</a>
        <a role="button"  *ngIf="!userIsAuthorized()"  routerLink="/register" class="btn btn-outline-warning">Register</a>
       
      </div>
    </div>
  </nav>

